extends ../templates/default

include ../../components/typography/typography
include ../../components/square/square

block variables 
  - var pageTitle = "About Us"
  - var pageClass = "about"

block content
  .container
    .wrapper._flex
      .wrapper__left
        +square("blue", "#", "Interactive digital experiences are continually")
        +square("winners", "#", "16 awards winning")
      .wrapper__right
        +typography
      
